<footer class="shadow-effect">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo"><img src="https://api.logo.com/api/v2/images?design=lg_mHfbWsdV6LPHnN7Df8&format=webp&width=300&height=100&background=transparent&fit=contain&quality=100&u=9fb6bec8d156e9918b6b7ded0ae1db516c02361ade1db90531e9ab917378c3d6" alt=""></div>
                
                <p class="mb-2 mt-2">Copyright © 2025 InkSphere</p>
            </div>
        </div>
    </div>
</footer>